{% render "partials/head.liquid" %}

{% render "partials/header.liquid" %}

    <main class="main-webinars">
        <section class="introduction">
            <h1>Webinars</h1>
            <div class="search-bar search-bar-webinars">
                <form>
                    <label>Search<input type="search"></label>
                    <button type="submit" class="search-bar-btn search-btn-webinars"><img src="/assets/search_icon.svg" alt="Search" width="10"></button>
                </form>
            </div>
        </section>

        <div class="webinars">
            {% comment %} <h2 class="sr-only">Sort & filter</h2> {% endcomment %}
            <section class="filter-sort">
                <h2>Sort & filter</h2>
                <form class="webinars-sort">
                    <label>
                        Sort by: 
                        <select>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="az">A-Z</option>
                            <option value="views">Most viewed</option>
                        <select name="sort">
                        </select>
                    </label>
                    <button type="submit" class="category-filter active">Submit</button>
                </form>

                <form class="webinars-filter">
                    <button class="category-filter active">All</button>
                    {% for webinar in webinars %}
                        {% for category in webinar.categories %}
                            <button class="category-filter">{{ category.avl_categories_id.name }}</button>
                        {% endfor %}
                    {% endfor %}
                </form>
            </section>

            <section class="webinars-overview">
                <h2 class="sr-only">Highlighted webinars</h2>
                {% for webinar in webinars %}
                    <article class="webinar-article">
                        <a href="/webinar/{{ webinar.slug }}">
                            <h3 class="sr-only">Webinar details of {{ webinar.title }}</h3>
                            <div class="webinar-thumbnail">
                                <img src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}" alt="" width="100">
                                <p>{{ webinar.duration }}</p>
                            </div>
                            <div class="webinar-info">
                                <h3>{{ webinar.title }}</h3>  
                                {% for speaker in webinar.speakers %}
                                    <p>{{ speaker.avl_speakers_id.fullname }}</p>
                                {% endfor %}
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </section>
        </div>
    </main>

{% render "partials/footer.liquid" %}

{% render "partials/foot.liquid" %}