{% render "partials/head.liquid" %}

{% render "partials/header.liquid" %}

    <main class="main-webinar">
        {% for webinar in webinars %}  
            <div class="breadcrumbs">
                <a href="/">Home</a>
                <a href="/webinars">/ Webinars</a>
                <a href="/webinars/{{ webinar.slug }}">/ {{ webinar.title }}</a>
            </div>          
            <section class="webinar">
                <h1>Webinar</h1>
                <h2>{{ webinar.title }}</h2>
                <video controls width="250">
                    <source src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" />
                </video>
                <dl class="webinar-stats">
                    {% for category in webinar.categories %}
                        <dt class="category">{{ category.avl_categories_id.name }}</dt>
                    {% endfor %}
                    <div class="stats">
                        <dt class="stat stats-views">
                            <img src="/assets/views_icon.svg" alt=""> 
                            <strong>Views</strong>
                        </dt>
                        <dd>
                            <strong>{{ webinar.views }}</strong> 
                        </dd>
                    </div>
                    <div class="stats">
                        <dt class="stat stats-date">
                            <img src="/assets/date_icon.svg" alt=""> 
                            <strong>Date</strong>
                        </dt>
                        <dd>
                            <strong>{{ webinar.date | date: "%d-%m-%Y" }}</strong>
                        </dd>
                    </div>
                </dl>
                
            </section>

            <section class="webinar-transcript">
                <h3 class="sr-only">Read transcript</h3>
                <button class="more-btn">Read transcript</button>
                {% comment %} <p>{{ webinar.transcript }}</p> {% endcomment %}
            </section>

            <section class="webinar-description">
                <h3>Description</h3>
                <div class="description-container">
                    <p>{{ webinar.description }}</p>
                    <button class="more-btn">Read more</button>
                </div>
            </section>
        
            <section class="webinar-speaker">
                <h3>Speaker</h3>
                {% for speaker in webinar.speakers %}
                    <div class="speaker-info">
                        <img src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}" alt="" width="100">
                        <div class="speaker-titles">
                            <p class="speaker-name">{{ speaker.avl_speakers_id.fullname }}</p>
                            <p class="speaker-entitle">{{ speaker.avl_speakers_id.entitle }}</p>
                        </div>
                        <a href="/speaker/{{ speaker.avl_speakers_id.fullname }}">
                            <img src="/assets/info_icon.svg" alt="Learn more about {{ speaker.avl_speakers_id.fullname }}" width="5">
                        </a>
                    </div>
                {% endfor %}
            </section>
        
            <section class="webinar-contourings">
                <h3>Contourings</h3>
                <div class="contourings">
                {% for contouring in contourings %}
                    <a href="/contouring/{{ contouring.title }}">
                        <article>
                            <h4>{{ contouring.title }}</h4>
                            <img src="https://fdnd-agency.directus.app/assets/{{ contouring.image_scan }}" alt="CT-scan {{ contouring.title }}" width="100">
                        </article>
                    </a>
                {% endfor %}
                </div>
            </section>
        
            <section class="webinar-articles">
                <h3>Articles</h3>
                {% for resource in webinar.resources %}
                    <article class="webinar-resource">
                        <h4>{{ resource.directus_files_id.title }}</h4>
                        <div class="article-card">
                            <div class="download">
                                <div class="file-icon">
                                    <img src="/assets/file_icon.svg" alt="" width="20">
                                </div>
                                <a href="https://fdnd-agency.directus.app/assets/{{ resource.directus_files_id.filename_disk }}?download=1" download="{{ resource.directus_files_id.filename_download }}">
                                    {{ resource.directus_files_id.filename_download }}
                                </a>   
                            </div> 
                            <div class="resources-buttons">
                                <a href="https://fdnd-agency.directus.app/assets/{{ resource.directus_files_id.filename_disk }}" class="resources-button" target="_blank">
                                    <img src="/assets/view_icon.svg" alt="View file" width="20">
                                </a>
                                <a href="https://fdnd-agency.directus.app/assets/{{ resource.directus_files_id.filename_disk }}?download=1" download="{{ resource.directus_files_id.filename_download }}" class="resources-button">
                                    <img src="/assets/download_icon.svg" alt="Download file" width="20">
                                </a>
                            </div>    
                        </div>                 
                    </article>
                {% endfor %}
            </section>
        {% endfor %}
    </main>

{% render "partials/footer.liquid" %}

{% render "partials/foot.liquid" %}